
   
@import url(https://fonts.googleapis.com/css?family=Poiret+One);

@import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css);
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-wrap
{
  
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color:  #2f2f2f;
   flex-direction: column;
}
.search .search-item
{
width: 60%;
padding: 8px 5px;
outline: none;
border-radius: 5px;
border: none;
font-size: 1.0rem;
}
.search
{
   
    width: 50%;
    display: flex;
    justify-content: center;
}
.search .searchButton
{
    width: 80px;
    height: 32px;
    border: none;
    background: #048b9c;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    outline: none;
    font-size: 16px;
    margin-left: 0.5rem;
}
.card
{
    margin-top: 1rem;
    height: 50%;
    width: 40%;
    
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3),
    0 17px 17px 0 rgba(0, 0, 0, 0.15);
}
.weather-icon
{
    width: 100%;
    height: 50%;
  
    
    border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: #fafafa;
display: flex;
justify-content: space-around;
align-items: center;
font-size: 70px;

}
.weather-data
{
width: 100%;
height: 30%;
display: flex;
}
.weather-city-data
{
    
    width: 40%;
    background-color: black;
    height: 100%;
    color:#fff;
    font-size:2.5rem;
   padding-top: 20px;
text-align: center;
}
.description
{
width: 30%;
height: 100%;
color: #fff;
background-color:black;
font-size:1.5rem;
text-align: center;
padding-top:20px ;
}
.weather-timezone
{
    width: 30%;
    background: #70c1b3;
    height: 100%;
    color:black;
    padding: 20px;
    text-align: center;
  color: #fff;
  font-size: 1.2rem;
}
.weather-extra-data
{
    width: 100%;
    height: 20%;
    background-color: #fff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
     display: flex;
}
.extra-data
{
    background-color:white;
    width: 25%;
    height: 100%;
 
 display: flex;
    
}
.border-cut-left
{
    border-bottom-left-radius: 20px; 
}
.border-cut-right
{
    border-bottom-right-radius: 20px;
}
.inner-data-1
{
    width: 40%;
   
}
.inner-data-2
{
    width: 50%;
}
.inner-data-1 i
{
    font-size: 1.3rem;
   padding: 15px;
}
.inner-data-2 p
{
    text-align: center;
    margin-top: 10px;
    margin-left: 2px;
}
.inner-data-1 i
{
color: #70c1b3;
}