


header
{
    margin: auto;
    width: 80%;
   
    height:50px;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.1rem solid #9a9191;
    margin-bottom: 1rem;
    transform: rotate(-0.05deg);
    align-items: center;
    padding: 0 10px;
    margin-top: 20px;
}
.countinue-shopping
{
display: flex;
height: inherit;

align-items: center;
}
.countinue-shopping .fa-arrow-left
{
  font-size: 1.0rem;
    width: 1.5rem;
}
.countinue-shopping h3
{
    font-size: 1.0rem;
    text-transform: capitalize;
    font-weight: 400;
}

.cart-icon i
{
 font-size: 1.2rem;
}
.cart-icon  p
{
    
    position: absolute;
    background: #99cbf7;
    box-sizing: border-box;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    right: -0.2rem;
    
    top: -0.6rem;
}
.main-cart-section
{
   
    width: 80%;
    margin: auto;
}
.main-cart-section h1
{
    font-style: normal;
  font-weight: bold;
  font-size: 2.5rem;
  text-transform: capitalize;
  color: rgba(41, 41, 41, 1);
  margin-bottom: 1rem;
}

.total-item
{
    
    color: #333;
}
.main-cart-section .cart-item
{
    width: 100%;
   
    height: 62rem;
    background: linear-gradient(
        103.49deg,
        #ffffff -28.13%,
        rgba(242, 247, 255, 0.5) 116.84%
      );
      box-shadow: rgba(0, 0, 0, 0.08) 0rem 0.4rem 1.2rem;
      border-radius: 2rem;
      margin: auto;
      
      
}
.cart-item-container
{
    
    width: 100%;
    height: 56rem;
overflow-y: scroll;


} 
.item-info
{
    width: 100%;
  height: 8rem;
  margin: auto;
 padding: 0 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  
 
}
.product-img 
{
   
    
 border-radius: 10px;
}
.product-img img
{
    width: 120px;
  height: 120px;
  filter: drop-shadow(0rem 0.4rem 1rem #f1f7ff);
  align-self: center;
  border-radius: 10px;
}
.title
{
    
    align-self: center;
}
.add-minus-quantity
{
   
    align-self: center;
    
}
.price
{
    
    align-self: center;
}
.remove-items
{
  
    align-self: center;
}
.item-info .title h2
{
    font-style: normal;
  font-weight: bold;
  font-size: 1.8rem;
  text-align: center;
  color: #333;
}
.item-info .title p
{
    text-transform: capitalize;
    text-align: left;
    font-size: 1.0rem;
}
.add-minus-quantity input
{
    width: 1.5rem;
  height: 1rem;
  text-align: center;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  background-color: transparent;
  text-transform: capitalize;
}
.add-minus-quantity input:focus {
    outline: none;
  }
  .price h3 
  {
    font-style: normal;
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: capitalize;
   color: #333;  
}
.remove-items i
{
font-size: 1.2rem;
}
.cart-total button
{
border: none;
font-size: 0.8rem;
padding: 8px 12px;
text-transform: uppercase;
border-radius: 0.5rem;
  cursor: pointer;
  color: #fff;

  background-color: #349bf3;
}
.cart-total
{
  
    text-align: end;
    padding: 0 5px;
 }
 .cart-total h3
 {
     margin-bottom: 2px;
 }